.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 22px;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .list {
    grid-template-columns: 1fr;
  }
}